* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;

}

#modal {
    width: 35%;
    height: 35%;
    position: fixed;
    left: 32.5%;
    top: 32.5%;
    background-color: azure;
    padding: 0.5%;
}

#info{
    padding: 0.5%;
}

#divButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#divButton button{
  margin: 2%;
}